{% extends 'base.html' %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/add_product_style.css') }}">{% endblock %}
{% block title %}Add or Delete Product{% endblock %}

{% block menu %}
<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ms-auto">
        <a class="nav-link " aria-current="page" href="{{ url_for('views.main_page') }}">Store</a>
    </div>
</div>
{% endblock %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
{% if category == 'error' %}
<div class="alert alert-danger alter-dismissible fade show auto-dismiss" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
</div>

{% else %}

<div class="alert alert-success alter-dismissible fade show auto-dismiss" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
</div>

{% endif %} {% endfor %} {% endif %} {% endwith %}

<div class="container">
    <form method="post" enctype="multipart/form-data">
        <div class="file-upload-container">
            <div class="wrapper">
                <div class="image">
                    <img src="" alt="">
                </div>
                <div class="content">
                    <div class="icon">
                        <i class="fas fa-cloud-upload-alt"></i>
                    </div>
                    <div class="text">
                        No file chosen, yet!
                    </div>
                </div>
                <div id="cancel-btn">
                    <i class="fas fa-times"></i>
                </div>
                <div class="file-name">
                    File name here
                </div>
            </div>
            <input id="default-btn" type="file" accept="image/*" name="img_file">

            <div class="link-text">
                Or paste the link of the image here:
            </div>
            <input type="url" name="img_link" id="img-link" placeholder="URL Link">
        </div>
        <div class="info-container">
            <label for="product-name">Enter the Product's name:</label>
            <input type="text" name="product_name" id="product-name" placeholder="Product"><br />
            <div class="num-container">
                <label for="product-price">Enter the Product's price:</label>
                <input type="number" step="any" name="product_price" id="product-price" placeholder="Price">
                <label for="product-stock">Enter the Product's stock:</label>
                <input type="number" name="product_stock" id="product-stock" placeholder="Stock">
            </div>
            <label for="product-info">Enter a description for the Product:</label>
            <textarea name="product_info" id="product-info" cols="30" rows="5"
                placeholder="Any extra information about the product... (Optional)"></textarea>
            <input type="submit" name="submit-button" value="Add the Product">
    </form>
</div>

<div class="or">OR</div>

<form method="post" enctype="multipart/form-data">
    <label for="product-name">Enter the Product's name:</label>
    <input type="text" name="product_name" id="product-name" placeholder="Product"><br />
    <input type="submit" name="delete-button" value="Delete the Product">
</form>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    const wrapper = document.querySelector(".wrapper");
    const fileName = document.querySelector(".file-name");
    const defaultBtn = document.querySelector("#default-btn");
    const customBtn = document.querySelector("#custom-btn");
    const cancelBtn = document.querySelector("#cancel-btn i");
    const img = document.querySelector(".image img");
    let regExp = /[0-9a-zA-Z\^\&\'\@\{\}\[\]\,\$\=\!\-\#\(\)\.\%\+\~\_ ]+$/;
    function defaultBtnActive() {
        defaultBtn.click();
    }
    defaultBtn.addEventListener("change", function () {
        const file = this.files[0];
        console.log(file)
        if (file) {
            const reader = new FileReader();
            reader.onload = function () {
                const result = reader.result;
                img.src = result;
                img.style.display = "block";
                wrapper.classList.add("active");
            }
            cancelBtn.addEventListener("click", function () {
                img.src = "";
                img.style.display = "none";
                wrapper.classList.remove("active");
            })
            reader.readAsDataURL(file);
        }
        if (this.value) {
            let valueStore = this.value.match(regExp);
            fileName.textContent = valueStore;
        }
    });
    $(function () {
        setTimeout(function () {
            $(".auto-dismiss").hide(500);
        }, 5000);
    });


</script>

{% endblock %}
